[submodule "data-hub-service"]
	path = data-hub-service
	url = https://github.com/lyybsni/data-hub-service.git
[submodule "data-hub-schema"]
	path = data-hub-schema
	url = https://github.com/lyybsni/data-hub-schema.git
[submodule "data-hub-django-provider"]
	path = data-hub-django-provider
	url = https://github.com/lyybsni/data-hub-django-provider
[submodule "data-hub-flask-consumer"]
	path = data-hub-flask-consumer
	url = https://github.com/lyybsni/data-hub-flask-consumer.git
